#login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#login-page .box {
  width: 60%;
  max-width: 700px;
}

#login-page .button {
  margin-top: 15px;
}

.content {
  padding: 5px;
  margin: 20px auto;
  max-width: 800px;
  background-color: #fff;
  min-height: 500px;
}

